%h1 KeyLauncher.js

%p
  Keylauncher is a small library that allows you to trigger the execution of a block of javascript code
  along with the optional loading of external javascript and css resources, in response to certain key
  sequences or keystrokes.

%h5 See it in action:
%h5 Type 'sup'