%h1 KeyLauncher.js

%p
  Keylauncher is a small library that allows you to trigger the execution of a block of javascript code
  along with the optional loading of external javascript and css resources, in response to certain key
  sequences or keystrokes.

%p
  It is perfect for embedding development / support / diagnostic tools in websites, but only loading
  the dependencies required to run them when you want, and not making your users load them.

%p
  %strong See it in action:

%p
  %strong Type 'sup'
